<nav class="navbar navbar-default" role="navigation" style="background-color: #fff;">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        </button>
        <a class="navbar-brand" href="/">业务系统后台</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
         <li {%if g.nav_menu == "nav_dashboard"%}class="active"{%endif%}><a href="/">Dashboard</a></li>
         <li class="dropdown" {%if g.nav_menu == "nav_screen"%}class="active"{%endif%}>
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">监控大屏<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu" style="font-size:12px;">
               <li><a href="/screen">监控大屏</a></li>
               <li><a href="/screen/add">添加大屏</a></li>
           </ul>
          </li>
          <li {%if g.nav_menu == "p_hostgroup"%}class="active"{%endif%}><a href="/portal/hostgroup">主机分组</a></li>
          <li {%if g.nav_menu == "p_template"%}class="active"{%endif%}><a href="/portal/template">模版</a></li>
          <li {%if g.nav_menu == "p_expression"%}class="active"{%endif%}><a href="/portal/expression">表达式</a></li>
          <li {%if g.nav_menu == "p_nodata"%}class="active"{%endif%}><a href="/portal/nodata">Nodata</a></li>
          <li {%if g.nav_menu == "p_alarm-dash"%}class="active"{%endif%}><a href="/portal/alarm-dash/case">报警Dashboard</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  {%if g.user%} 欢迎 {{g.user.name}}{%else%}登录{%endif%}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" style="font-size:12px;">
                  {%if g.user%}
                      <li><a href="/user/profile">用户信息</a></li>
                      <li><a href="/user/list">用户</a></li>
                      <li><a href="/team/list">组</a></li>
                      <li><a href="/auth/logout">退出</a></li>
                  {%else%}
                      <li><a href="/auth/login">登录</a></li>
                      <li><a href="/auth/register">注册</a></li>
                  {%endif%}
              </ul>
          </li>
        </ul>
    </div>
</div>
</nav>
